html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
} /*Fonts*/
@font-face {
  font-family: "SF pro Display";
  src: url("../fonts/sfprodisplay/sfprodisplay-regular-webfont.woff2") format("woff2"), url("../fonts/sfprodisplay/sfprodisplay-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/sfprodisplay/sfprodisplay-medium-webfont.woff2") format("woff2"), url("../fonts/sfprodisplay/sfprodisplay-medium-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/sfprodisplay/sfprodisplay-bold-webfont.woff2") format("woff2"), url("../fonts/sfprodisplay/sfprodisplay-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
/*Colors*/
* {
  font-size: #22322F;
  font-weight: 400;
  font-family: "SF Pro Display", "Arial", sans-serif;
  line-height: 1;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.no-scroll {
  overflow-y: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  padding-top: 30px;
  min-height: 39px;
  margin-bottom: 50px;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.main-header img {
  max-width: 79px;
  max-height: 25px;
  -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: focus-in-contract-bck 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation focus-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
    transform: translateZ(300px);
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
    transform: translateZ(12px);
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
.button {
  background-color: #F9F9F9;
  border-radius: 8px;
  border-width: 1px 3px 3px 1px;
  border-style: solid;
  border-color: #22322F;
  font-weight: 700;
  font-size: 12px;
  min-height: 39px;
  min-width: 99px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 999;
}

.button:hover {
  background-color: #71A89E;
  color: #F9F9F9;
}

.button .icon {
  width: 12px;
  height: 12px;
  margin-right: 12px;
}

.intro .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro .picture img {
  width: 100%;
  height: auto;
  -webkit-animation: scale-in-hor-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-hor-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation scale-in-hor-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes scale-in-hor-center {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
.left-side {
  margin-top: 48px;
}

.container__main-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container__main-title h2 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 43px;
  color: #22322F;
}
.container__main-title p {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.02em;
  color: #22322F;
  margin-bottom: 24px;
}

.subtitle {
  margin-bottom: 16px;
}

.container__button-access {
  padding-bottom: 98px;
}

.container__button-access button {
  width: 203px;
  height: 44px;
  background-color: #71A89E;
  border: 2px solid #000;
  border-radius: 8px;
  border-width: 2px 4px 4px 2px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container__button-access button:hover {
  background-color: #fff;
  color: #71A89E;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  padding-top: 80px;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #71A89E;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
}
.menu ul a {
  text-decoration: none;
  color: #fff;
}
.menu ul a:hover {
  color: black;
}
.menu ul li {
  margin-bottom: 25px;
}
.menu .menu-list {
  display: none;
}
.menu .menu-list.active {
  display: flex;
}

@media only screen and (min-width: 768px) {
  .intro .main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1170px) {
  .container {
    min-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .button {
    display: none;
  }
  .menu .menu-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding-top: 0;
  }
  .menu .menu-list li {
    margin: 0;
    margin-right: 40px;
  }
  .menu .menu-list li:hover a {
    color: #71A89E;
  }
  .main-header img {
    max-width: 138px;
    max-height: 43px;
  }
  .menu ul {
    display: flex;
    flex-direction: row;
  }
  .menu ul li {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
  }
  .menu ul li a {
    text-decoration: none;
    color: #303031;
  }
  .menu ul li:last-child {
    margin-right: 0;
  }
  .main-header {
    margin-bottom: 97px;
  }
  .active {
    color: #71A89E;
  }
  .intro {
    padding-bottom: 154px;
  }
  .intro .main {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
  }
  .intro .picture img {
    width: unset;
    max-width: 617px;
    height: unset;
  }
  .main h2 {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    color: #22322F;
  }
  .left-side p {
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #22322F;
  }
  .left-side {
    width: 100%;
    margin-top: 154px;
    margin-right: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
