
.button {
    display: none;
}

.menu .menu-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    height: 100%;
    width: 100%;
    padding-top: 0;

    li {
        margin: 0;
        margin-right: 40px;
    }

    li:hover a {
        color: $colorLime;
    }
}

.main-header img {
    max-width: 138px;
    max-height: 43px;
}


.menu ul {
    display: flex;
    flex-direction: row;
}


.menu ul li {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;

    a {
        text-decoration: none;
        color: $colorMenuDark;
    }
}

.menu ul li:last-child {
    margin-right: 0;
}

.main-header {
    margin-bottom: 97px;
}

.active {
    color: $colorLime;
}

