* {
    font-size: $colorDark;
    font-weight: 400;
    font-family: 'SF Pro Display', 'Arial', sans-serif;
    line-height: 1;
    box-sizing: border-box;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
  }
  
  .no-scroll {
    overflow-y: hidden;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }